package views

import (
	"github.com/salvaft/link-shortener/cfg"
)

func config() cfg.Config {
	var config = cfg.GetConfig()
	return config
}

templ Create(url_code string) {
	@Base(true)
	<h1>
		Link shortened with url:
		<a href={ templ.URL("/" + url_code) }>
			https://{ config().Host+":" + config().Port+"/" }{ url_code }
		</a>
	</h1>
}
