package components;

templ Footer() {
	<footer class=" w-full bg-white rounded-lg shadow dark:bg-gray-800">
		<div class="mx-auto max-w-screen-xl p-4 md:py-8">
			<a href="https://salvaft.dev/" class="flex w-min items-center mx-auto space-x-3 rtl:space-x-reverse">
				<img src="https://salvaft.dev/favicon.webp" class="h-8 aspect-square" alt="salvaft Logo"/>
				<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">salvaft</span>
			</a>
		</div>
	</footer>
}
